<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <form action="/myfirstapp/bonjour/" method="GET">

        <div class="champ">
            <label for="nom">Nom : </label>
            <input type="text" name="nom">
        </div>
        <div class="champ">
            <label for="prenom">Prénom : </label>
            <input type="text" name="prenom">
        </div>
        <div class="champ">
            <input type="submit" value="Envoyer">
        </div>
    </form>
</body>
</html>
