<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter recette</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>
<body>

<h1>Ajouter une recette</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer</button>
</form>

<a href="{% url 'recette_list' %}">Retour</a>

<br>

<a href="{% url 'index' %}">🏠 Retour accueil</a>

</body>
</html>